/* body, html {
    padding: 0;
    margin: 0;
    margin-top: -15px;
    background: rgb(201, 207, 212);
    height: 100%;
}

.picheader { */
    /* display: flex; */
    /* background: url('../styles/images/header.jpg') center no-repeat; */
    /* background-size: cover;
}

.iframeContainer { */
    /* padding: 1px; */
    /* border: 1px solid #e3e3e3;
}

.modal-dialog .sport { */
    /* width: 750px; */
    /* margin: auto;
}

.modal-dialog .map { */
    /* width: 950px; */
    /* margin: auto;
} */

*{  box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

header {
    grid-area: header;
    background: url('../styles/images/header4.jpg') center no-repeat;
    background-size: cover;
}

.empty {
    grid-area: empty-header;
}

.weather {
    grid-area: weather;
}

.clock {
    grid-area: clock;
}

aside {
    grid-area: aside;
    background: url('../styles/images/stripes.jpg') center no-repeat;
    background-size: cover;
    
}

article {
    grid-area: article;
    padding: 40px;
    /* background: rgb(236, 122, 198); */
}

.wrapper {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 250px auto;
    grid-template-areas: 
        "header header"
        "aside article";
}



header {
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    grid-template-areas:
        "clock empty-header weather";
}

.intro {
    grid-area: intro;
}

.map-info {
    grid-area: map-info;
    align-self: center;
    /* background: rgb(208, 227, 236); */
}

.map {
    grid-area: map;
}

.sports {
    grid-area: sports;
}

.sports-info {
    grid-area: sports-info;
    align-self: center;
}

.tweets {
    grid-area: tweets;
}

article {
    display: grid;
    grid-template-columns: 1.7fr 0.5fr 1.7fr;
    grid-gap: 15px;
    grid-template-areas:
    "intro intro intro"
    "map-info map map"
    "sports sports sports-info"
    "tweets tweets tweets";
}

@media all and (max-width: 1160px) {
    .wrapper{
        display: grid;
        grid-template-columns: 0.5fr 3fr;
        grid-template-rows: 280px auto;
        grid-template-areas: 
            "header header"
            "aside article";
    }

    header {
        display: grid;
        grid-template-columns: 1fr 3fr 1.5fr;
        grid-template-areas:
            "clock empty-header weather";
    }
}

@media all and (max-width: 880px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 280px auto;
        grid-template-areas: 
            "header"
            "aside"
            "article";
    }

    header {
        grid-template-columns: 1fr;
        grid-template-areas:
        "weather"
        "clock";
    }

    article {
        grid-template-columns: 1fr;
    
        grid-template-areas:
        "intro"
        "map-info"
        "map"
        "sports-info"
        "sports"
        "tweets";
    }
}

